%h1 Всем привет
%p Find me in app/views/static_pages/index.html.erb

.fab.fa-amazon
.fa.fa-home
= link_to 'Домой', root_path
= link_to root_path, class: 'btn btn-primary' do
  %h3
    .fa.fa-home
    Домой